# Prosper Loan Data Exploration
## by Kirthi Kunhi Raman

## Preliminary Wrangling

> This document explores a dataset containing loan information of approximately 113938 loans provided to people for various reasons.

In [1]:
# import all packages and set plots to be embedded inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline

In [2]:
# load in the dataset into a pandas dataframe, print statistics
loan = pd.read_csv('prosperLoanData.csv')

In [3]:
# high-level overview of data shape and composition
print(loan.shape)

(113937, 81)

In [4]:
print(loan.dtypes)

ListingKey                              object
ListingNumber                            int64
ListingCreationDate                     object
CreditGrade                             object
Term                                     int64
LoanStatus                              object
ClosedDate                              object
BorrowerAPR                            float64
BorrowerRate                           float64
LenderYield                            float64
EstimatedEffectiveYield                float64
EstimatedLoss                          float64
EstimatedReturn                        float64
ProsperRating (numeric)                float64
ProsperRating (Alpha)                   object
ProsperScore                           float64
ListingCategory (numeric)                int64
BorrowerState                           object
Occupation                              object
EmploymentStatus                        object
EmploymentStatusDuration               float64
IsBorrowerHomeowner                       bool
CurrentlyInGroup                          bool
GroupKey                                object
DateCreditPulled                        object
CreditScoreRangeLower                  float64
CreditScoreRangeUpper                  float64
FirstRecordedCreditLine                 object
CurrentCreditLines                     float64
OpenCreditLines                        float64
                                        ...
TotalProsperLoans                      float64
TotalProsperPaymentsBilled             float64
OnTimeProsperPayments                  float64
ProsperPaymentsLessThanOneMonthLate    float64
ProsperPaymentsOneMonthPlusLate        float64
ProsperPrincipalBorrowed               float64
ProsperPrincipalOutstanding            float64
ScorexChangeAtTimeOfListing            float64
LoanCurrentDaysDelinquent                int64
LoanFirstDefaultedCycleNumber          float64
LoanMonthsSinceOrigination               int64
LoanNumber                               int64
LoanOriginalAmount                       int64
LoanOriginationDate                     object
LoanOriginationQuarter                  object
MemberKey                               object
MonthlyLoanPayment                     float64
LP_CustomerPayments                    float64
LP_CustomerPrincipalPayments           float64
LP_InterestandFees                     float64
LP_ServiceFees                         float64
LP_CollectionFees                      float64
LP_GrossPrincipalLoss                  float64
LP_NetPrincipalLoss                    float64
LP_NonPrincipalRecoverypayments        float64
PercentFunded                          float64
Recommendations                          int64
InvestmentFromFriendsCount               int64
InvestmentFromFriendsAmount            float64
Investors                                int64
Length: 81, dtype: object

In [5]:
print(loan.head(1))

                ListingKey  ListingNumber            ListingCreationDate  \
0  1021339766868145413AB3B         193129  2007-08-26 19:09:29.263000000

  CreditGrade  Term LoanStatus           ClosedDate  BorrowerAPR  \
0           C    36  Completed  2009-08-14 00:00:00      0.16516

   BorrowerRate  LenderYield    ...     LP_ServiceFees  LP_CollectionFees  \
0         0.158        0.138    ...            -133.18                0.0

   LP_GrossPrincipalLoss  LP_NetPrincipalLoss LP_NonPrincipalRecoverypayments  \
0                    0.0                  0.0                             0.0

   PercentFunded  Recommendations InvestmentFromFriendsCount  \
0            1.0                0                          0

  InvestmentFromFriendsAmount Investors
0                         0.0       258

[1 rows x 81 columns]

In [6]:
# Remove columns that are not necessary in this analysis by dropping it
loandf = loan.copy()
loandf.drop(['ListingKey', 'ListingNumber', 'ListingCreationDate', 'CreditGrade', 'ClosedDate', 'LenderYield', 'EstimatedEffectiveYield', 'EstimatedLoss', 'EstimatedReturn', 'ProsperRating (numeric)', 'ProsperRating (Alpha)', 'ProsperScore', 'ListingCategory (numeric)', 'BorrowerState', 'Occupation', 'EmploymentStatusDuration', 'CurrentlyInGroup', 'GroupKey', 'DateCreditPulled', 'FirstRecordedCreditLine', 'CurrentCreditLines', 'TotalCreditLinespast7years', 'OpenRevolvingAccounts', 'OpenRevolvingMonthlyPayment', 'InquiriesLast6Months', 'TotalInquiries', 'CurrentDelinquencies', 'AmountDelinquent', 'DelinquenciesLast7Years', 'PublicRecordsLast10Years', 'PublicRecordsLast12Months', 'RevolvingCreditBalance', 'BankcardUtilization', 'AvailableBankcardCredit', 'TotalTrades', 'TradesNeverDelinquent (percentage)', 'TradesOpenedLast6Months', 'IncomeRange', 'IncomeVerifiable', 'LoanKey', 'TotalProsperLoans', 'TotalProsperPaymentsBilled', 'OnTimeProsperPayments', 'ProsperPaymentsLessThanOneMonthLate', 'ProsperPrincipalBorrowed', 'ProsperPrincipalOutstanding', 'ScorexChangeAtTimeOfListing', 'LoanCurrentDaysDelinquent', 'LoanFirstDefaultedCycleNumber', 'LoanMonthsSinceOrigination', 'LoanOriginationDate', 'LoanOriginationQuarter', 'MemberKey', 'LP_CustomerPayments', 'LP_CustomerPrincipalPayments', 'LP_InterestandFees', 'LP_ServiceFees', 'LP_CollectionFees', 'LP_GrossPrincipalLoss', 'LP_NetPrincipalLoss', 'LP_NonPrincipalRecoverypayments', 'PercentFunded', 'Recommendations', 'InvestmentFromFriendsCount', 'InvestmentFromFriendsAmount', 'Investors'], axis = 1, inplace = True)

In [7]:
loandf.head()

,Term,LoanStatus,BorrowerAPR,BorrowerRate,EmploymentStatus,IsBorrowerHomeowner,CreditScoreRangeLower,CreditScoreRangeUpper,OpenCreditLines,DebtToIncomeRatio,StatedMonthlyIncome,ProsperPaymentsOneMonthPlusLate,LoanNumber,LoanOriginalAmount,MonthlyLoanPayment
0,36,Completed,0.16516,0.1580,Self-employed,True,640.0,659.0,4.0,0.17,3083.333333,NaN,19141,9425,330.43
1,36,Current,0.12016,0.0920,Employed,False,680.0,699.0,14.0,0.18,6125.000000,NaN,134815,10000,318.93
2,36,Completed,0.28269,0.2750,Not available,False,480.0,499.0,NaN,0.06,2083.333333,NaN,6466,3001,123.32
3,36,Current,0.12528,0.0974,Employed,True,800.0,819.0,5.0,0.15,2875.000000,NaN,77296,10000,321.45
4,36,Current,0.24614,0.2085,Employed,True,680.0,699.0,19.0,0.26,9583.333333,0.0,102670,15000,563.97

In [8]:
loandf.shape

(113937, 15)

In [9]:
# Determine duplicated rows
loandf[loandf.duplicated()]

,Term,LoanStatus,BorrowerAPR,BorrowerRate,EmploymentStatus,IsBorrowerHomeowner,CreditScoreRangeLower,CreditScoreRangeUpper,OpenCreditLines,DebtToIncomeRatio,StatedMonthlyIncome,ProsperPaymentsOneMonthPlusLate,LoanNumber,LoanOriginalAmount,MonthlyLoanPayment
9,36,Current,0.07620,0.0629,Employed,True,820.0,839.0,16.0,0.25,3333.333333,NaN,121268,10000,305.54
999,60,Current,0.17710,0.1535,Employed,True,760.0,779.0,16.0,0.35,3750.000000,NaN,132043,10000,239.74
2539,60,Current,0.14528,0.1224,Employed,True,720.0,739.0,18.0,0.18,10833.333333,NaN,135375,35000,782.81
4942,36,Current,0.35356,0.3134,Employed,True,640.0,659.0,6.0,0.07,4583.333333,NaN,103928,4000,172.76
5812,36,Current,0.24205,0.2045,Other,True,700.0,719.0,18.0,0.62,4166.666667,NaN,110525,15000,560.90
5971,60,Current,0.18555,0.1620,Employed,False,680.0,699.0,16.0,0.26,3750.000000,NaN,106952,10000,244.24
6385,36,Current,0.11563,0.0879,Employed,True,700.0,719.0,8.0,0.25,14166.666667,0.0,127050,10000,317.02
7415,60,Current,0.24589,0.2209,Employed,True,680.0,699.0,10.0,0.25,5416.666667,NaN,108650,10000,276.70
7538,36,Current,0.20524,0.1685,Employed,True,680.0,699.0,9.0,0.18,12916.666667,NaN,122367,5000,177.89
7555,36,Current,0.12691,0.0990,Self-employed,False,700.0,719.0,11.0,NaN,3666.666667,0.0,122869,10000,322.20
8683,36,Current,0.20524,0.1685,Employed,False,660.0,679.0,9.0,0.48,2114.916667,0.0,129414,4000,142.31
8925,36,Current,0.22966,0.1920,Employed,False,720.0,739.0,24.0,0.57,7083.333333,0.0,136177,15000,551.36
9102,36,Current,0.27817,0.2394,Employed,False,640.0,659.0,5.0,0.20,2750.000000,0.0,132500,4000,156.81
9281,36,Current,0.34588,0.3059,Employed,False,640.0,659.0,13.0,0.33,2500.000000,NaN,127679,2000,85.55
10036,36,Current,0.18990,0.1535,Employed,True,660.0,679.0,8.0,0.24,7083.333333,NaN,126036,15000,522.55
10401,36,Current,0.29537,0.2566,Employed,False,680.0,699.0,14.0,0.16,6406.666667,NaN,101777,4000,160.44
10467,36,Current,0.20268,0.1660,Employed,True,660.0,679.0,14.0,0.24,7666.666667,NaN,108288,3000,106.36
11635,60,Current,0.15449,0.1314,Employed,False,740.0,759.0,11.0,0.24,4166.666667,NaN,131700,2000,45.65
11889,36,Current,0.15223,0.1239,Employed,True,720.0,739.0,8.0,0.26,3916.666667,NaN,126187,8750,292.26
11979,60,Current,0.14760,0.1249,Employed,True,700.0,719.0,5.0,0.29,5416.666667,0.0,110461,20000,449.86
12379,60,Current,0.20040,0.1765,Employed,False,660.0,679.0,7.0,0.16,6166.666667,NaN,126403,6500,163.82
12595,36,Current,0.18479,0.1485,Employed,False,680.0,699.0,16.0,0.40,2791.666667,NaN,104760,5000,172.96
12694,60,Current,0.15844,0.1355,Employed,True,720.0,739.0,23.0,0.30,6666.666667,NaN,129675,25000,575.89
12780,60,Current,0.15844,0.1355,Employed,True,720.0,739.0,23.0,0.30,6666.666667,NaN,129675,25000,575.89
12956,36,Current,0.23540,0.1980,Employed,False,660.0,679.0,14.0,0.33,4666.666667,0.0,111670,8000,296.49
13210,36,Current,0.14714,0.1189,Self-employed,False,680.0,699.0,13.0,NaN,3033.333333,0.0,128157,10000,331.62
13322,36,Current,0.14853,0.1199,Employed,True,700.0,719.0,15.0,0.23,7798.333333,NaN,135107,16000,531.35
13445,60,Current,0.26514,0.2394,Other,False,660.0,679.0,4.0,0.23,976.000000,NaN,133652,4000,114.93
14062,36,Current,0.19501,0.1585,Self-employed,False,660.0,679.0,5.0,NaN,3750.000000,NaN,125231,10000,350.83
14071,36,Current,0.23233,0.1950,Employed,False,660.0,679.0,5.0,0.21,2500.000000,0.0,104338,4000,147.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111815,60,Current,0.20833,0.1840,Employed,False,680.0,699.0,11.0,0.23,5416.666667,NaN,131927,13000,332.95
111839,60,Current,0.16969,0.1465,Employed,True,660.0,679.0,7.0,0.11,6250.000000,NaN,120375,20000,472.13
111850,36,Current,0.11563,0.0879,Employed,True,740.0,759.0,13.0,0.23,7500.000000,NaN,125999,13000,412.13
111860,36,Current,0.20933,0.1725,Employed,False,680.0,699.0,6.0,0.41,5358.166667,NaN,121640,12500,447.22
111890,60,Current,0.17061,0.1474,Employed,True,780.0,799.0,25.0,0.29,4166.666667,NaN,101965,15000,354.81
111991,36,Current,0.19144,0.1550,Employed,False,700.0,719.0,17.0,0.24,5000.000000,NaN,110922,7500,261.83
111992,60,Current,0.17839,0.1550,Employed,True,680.0,699.0,10.0,0.15,4583.333333,NaN,111441,7000,168.37
112216,36,Current,0.16732,0.1314,Employed,False,680.0,699.0,15.0,0.23,3333.333333,NaN,130997,7500,253.21
112413,60,Current,0.21858,0.1940,Employed,True,680.0,699.0,12.0,0.41,5833.333333,0.0,131127,4000,104.64
112495,36,Current,0.14714,0.1189,Employed,False,680.0,699.0,8.0,0.18,11000.000000,NaN,120464,13000,431.10
112536,36,Current,0.14409,0.1159,Employed,False,660.0,679.0,18.0,0.25,5166.666667,NaN,105301,10000,330.19
112603,60,Current,0.22549,0.2010,Employed,False,720.0,739.0,10.0,0.37,3750.000000,NaN,130189,10000,265.50
112854,36,Current,0.21176,0.1745,Other,False,700.0,719.0,5.0,0.42,2500.000000,NaN,134535,4000,143.51
112882,60,Current,0.21474,0.1905,Employed,False,680.0,699.0,8.0,0.50,3363.250000,0.0,129053,10000,259.68
112919,60,Current,0.19221,0.1685,Other,True,680.0,699.0,14.0,0.36,4583.333333,NaN,131034,15000,371.58
112924,36,Current,0.18275,0.1465,Employed,False,680.0,699.0,5.0,0.19,2500.000000,NaN,131482,4000,137.98
112935,36,Current,0.22108,0.1840,Employed,False,720.0,739.0,15.0,0.57,5000.000000,NaN,127348,15000,545.30
113025,60,Current,0.23293,0.2080,Other,False,640.0,659.0,6.0,0.29,1166.666667,NaN,131124,3000,80.82
113136,36,Current,0.14714,0.1189,Employed,True,700.0,719.0,14.0,0.18,14166.666667,NaN,122937,25000,829.04
113144,60,Current,0.14760,0.1249,Employed,True,780.0,799.0,28.0,0.31,8583.333333,0.0,112504,15000,337.39
113218,36,Current,0.14039,0.1119,Employed,True,780.0,799.0,14.0,0.34,10083.333333,NaN,133425,15000,492.43
113356,36,Current,0.26047,0.2225,Employed,True,700.0,719.0,14.0,0.54,3666.666667,NaN,106563,10000,383.20
113386,36,Current,0.14243,0.1139,Employed,True,680.0,699.0,10.0,0.21,3333.333333,NaN,132484,8000,263.39
113431,36,Current,0.20524,0.1685,Employed,False,640.0,659.0,7.0,0.14,4166.666667,NaN,129868,10000,355.78
113468,60,Current,0.22601,0.2015,Employed,False,680.0,699.0,13.0,0.29,3333.333333,NaN,104093,5000,132.89
113548,60,Current,0.22063,0.1960,Employed,True,700.0,719.0,10.0,0.15,7666.666667,NaN,134250,14000,367.81
113636,36,Current,0.21290,0.1760,Other,True,680.0,699.0,10.0,0.20,2500.000000,NaN,109434,4000,143.81
113733,60,Current,0.20593,0.1819,Employed,False,720.0,739.0,7.0,0.42,4583.333333,NaN,110968,10000,254.97
113773,36,Current,0.16324,0.1274,Employed,True,700.0,719.0,12.0,0.36,2720.833333,NaN,122984,10000,335.69
113863,36,Current,0.12691,0.0990,Employed,False,760.0,779.0,6.0,0.18,3333.333333,NaN,111270,6500,209.43

In [10]:
# Remove duplicated rows, keeping just the first out of 2 or more duplicated value
loandf.drop_duplicates(keep = 'first', inplace = True)

In [11]:
# Check if the 871 duplicated values are removed 
loandf.shape

(113066, 15)

In [12]:
# Check again if the duplicated values are removed by specifically checking if the duplicates of LoanNumber = 121268 are removed
loandf[loandf.LoanNumber == 121268]

,Term,LoanStatus,BorrowerAPR,BorrowerRate,EmploymentStatus,IsBorrowerHomeowner,CreditScoreRangeLower,CreditScoreRangeUpper,OpenCreditLines,DebtToIncomeRatio,StatedMonthlyIncome,ProsperPaymentsOneMonthPlusLate,LoanNumber,LoanOriginalAmount,MonthlyLoanPayment
8,36,Current,0.0762,0.0629,Employed,True,820.0,839.0,16.0,0.25,3333.333333,NaN,121268,10000,305.54

In [13]:
# Check for incomplete data in 'StatedMonthlyIncome'
loandf[loandf.StatedMonthlyIncome == 0]

,Term,LoanStatus,BorrowerAPR,BorrowerRate,EmploymentStatus,IsBorrowerHomeowner,CreditScoreRangeLower,CreditScoreRangeUpper,OpenCreditLines,DebtToIncomeRatio,StatedMonthlyIncome,ProsperPaymentsOneMonthPlusLate,LoanNumber,LoanOriginalAmount,MonthlyLoanPayment
78,36,Chargedoff,0.18454,0.1700,Full-time,True,720.0,739.0,14.0,NaN,0.0,0.0,33852,4800,171.13
100,36,Chargedoff,0.35356,0.3134,Not employed,False,720.0,739.0,3.0,NaN,0.0,0.0,82947,4000,172.76
108,36,Completed,0.28320,0.2600,Full-time,False,640.0,659.0,8.0,NaN,0.0,NaN,30830,14000,564.07
125,36,Current,0.35643,0.3199,Not employed,False,640.0,659.0,7.0,NaN,0.0,NaN,49793,5000,217.74
170,36,Completed,0.28851,0.2499,Not employed,True,760.0,779.0,7.0,NaN,0.0,NaN,63781,10000,397.55
186,36,Chargedoff,0.35797,0.3177,Not employed,False,660.0,679.0,3.0,NaN,0.0,NaN,60674,4000,173.71
332,36,Cancelled,0.25650,0.2375,NaN,True,520.0,539.0,NaN,0.10361,0.0,NaN,668,1000,39.10
335,36,Completed,0.35797,0.3177,Not employed,False,760.0,779.0,1.0,NaN,0.0,NaN,62667,2000,86.85
688,36,Completed,0.30532,0.2699,Not employed,False,720.0,739.0,5.0,NaN,0.0,NaN,51593,2500,102.05
772,36,Completed,0.10491,0.0980,Full-time,True,820.0,839.0,8.0,NaN,0.0,NaN,29671,3500,112.61
917,36,Completed,0.15713,0.1500,Not available,True,720.0,739.0,NaN,NaN,0.0,NaN,2552,8000,274.24
948,36,Completed,0.14770,0.1299,Not available,True,660.0,679.0,NaN,NaN,0.0,NaN,5636,1000,33.69
954,36,Completed,0.27767,0.2700,Full-time,False,660.0,679.0,12.0,NaN,0.0,NaN,30065,7500,306.19
973,12,Completed,0.30461,0.2254,Not employed,False,660.0,679.0,1.0,NaN,0.0,NaN,74658,2000,187.71
988,36,Completed,0.38443,0.3220,Not employed,False,700.0,719.0,1.0,NaN,0.0,NaN,46160,1000,43.67
1014,36,Current,0.24758,0.2099,Not employed,False,720.0,739.0,4.0,NaN,0.0,NaN,69526,15000,565.05
1157,36,Completed,0.12500,0.1180,Not employed,False,720.0,739.0,7.0,NaN,0.0,NaN,19955,7000,231.83
1314,36,Current,0.31032,0.2712,Not employed,False,720.0,739.0,8.0,NaN,0.0,NaN,97501,4000,163.56
1346,36,Completed,0.37036,0.3500,Self-employed,False,520.0,539.0,1.0,NaN,0.0,NaN,23997,1000,45.24
1478,36,Chargedoff,0.19730,0.1900,Self-employed,False,800.0,819.0,8.0,NaN,0.0,NaN,32420,25000,916.40
1521,36,Chargedoff,0.14132,0.1200,Not employed,True,540.0,559.0,10.0,NaN,0.0,NaN,36710,3000,99.64
1529,60,Past Due (16-30 days),0.27462,0.2489,Not employed,False,720.0,739.0,3.0,NaN,0.0,NaN,67768,5000,146.43
1557,36,Current,0.35356,0.3134,Not employed,False,720.0,739.0,5.0,NaN,0.0,NaN,85401,4000,172.76
1773,60,Current,0.24702,0.2220,Not employed,False,680.0,699.0,7.0,NaN,0.0,0.0,64846,12000,332.79
1790,36,Chargedoff,0.37453,0.3500,Self-employed,True,520.0,539.0,6.0,NaN,0.0,NaN,30926,1000,45.24
1822,36,Completed,0.16991,0.1555,Full-time,True,580.0,599.0,12.0,NaN,0.0,0.0,23741,1250,43.67
1829,36,Current,0.35132,0.3149,Not employed,False,740.0,759.0,3.0,NaN,0.0,NaN,55354,7500,324.54
1844,36,Completed,0.09436,0.0800,NaN,False,NaN,NaN,NaN,NaN,0.0,NaN,38,1200,37.60
1926,36,Chargedoff,0.30218,0.2900,Full-time,True,560.0,579.0,12.0,NaN,0.0,NaN,17536,4800,201.15
2064,36,Completed,0.15428,0.1400,Full-time,False,700.0,719.0,4.0,NaN,0.0,NaN,28112,7000,239.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111707,36,Completed,0.35090,0.3108,Not employed,True,700.0,719.0,8.0,NaN,0.0,NaN,56922,7500,322.84
111934,36,Completed,0.13705,0.1300,Full-time,False,700.0,719.0,2.0,NaN,0.0,NaN,22152,8000,224.54
111974,36,Completed,0.28706,0.2638,Not employed,False,680.0,699.0,6.0,NaN,0.0,NaN,43408,2000,80.99
112052,36,Chargedoff,0.28974,0.2511,Not employed,True,780.0,799.0,6.0,NaN,0.0,NaN,59234,10000,398.18
112240,36,Completed,0.15713,0.1500,Self-employed,True,720.0,739.0,5.0,NaN,0.0,NaN,21302,10000,346.65
112252,36,Completed,0.27306,0.2500,Full-time,False,560.0,579.0,9.0,NaN,0.0,NaN,33586,3000,119.28
112330,36,Current,0.22742,0.1902,Not employed,True,720.0,739.0,7.0,NaN,0.0,0.0,67492,5600,205.33
112371,36,Current,0.35356,0.3134,Not employed,True,700.0,719.0,4.0,NaN,0.0,NaN,97758,4000,172.76
112374,36,Chargedoff,0.16988,0.1627,Self-employed,False,740.0,759.0,13.0,NaN,0.0,NaN,22075,7500,264.68
112383,36,Defaulted,0.15522,0.1481,Self-employed,True,780.0,799.0,16.0,NaN,0.0,0.0,31221,7500,259.29
112398,36,Completed,0.08718,0.0700,Retired,True,860.0,879.0,9.0,NaN,0.0,NaN,15463,1000,30.88
112491,36,Completed,0.22237,0.2000,Self-employed,True,640.0,659.0,13.0,NaN,0.0,NaN,32281,1000,37.16
112670,36,Current,0.35356,0.3134,Not employed,False,700.0,719.0,12.0,NaN,0.0,NaN,86803,2000,86.38
112685,12,Completed,0.31134,0.2320,Not employed,False,660.0,679.0,2.0,NaN,0.0,NaN,78904,2000,188.35
112784,60,Past Due (16-30 days),0.22693,0.2024,Not employed,False,740.0,759.0,4.0,NaN,0.0,NaN,77855,11500,306.22
112821,36,Past Due (91-120 days),0.20564,0.1764,Not employed,False,740.0,759.0,5.0,NaN,0.0,NaN,56767,5750,206.84
112917,36,Past Due (>120 days),0.35797,0.3177,Self-employed,False,700.0,719.0,2.0,NaN,0.0,NaN,69350,3000,130.28
112971,60,Chargedoff,0.24763,0.2249,Not employed,False,780.0,799.0,3.0,NaN,0.0,NaN,49340,6948,193.83
113197,36,Current,0.35797,0.3177,Not employed,True,740.0,759.0,5.0,NaN,0.0,NaN,67818,4000,173.71
113409,36,Completed,0.05672,0.0500,Full-time,False,680.0,699.0,7.0,NaN,0.0,NaN,21909,7000,209.80
113417,36,Current,0.35797,0.3177,Not employed,False,700.0,719.0,13.0,NaN,0.0,NaN,75215,4000,173.71
113485,36,Completed,0.18756,0.1730,Full-time,True,680.0,699.0,5.0,NaN,0.0,0.0,32444,6000,213.28
113608,60,Chargedoff,0.24252,0.2199,Employed,False,660.0,679.0,13.0,NaN,0.0,0.0,51904,8000,220.91
113622,36,Chargedoff,0.34577,0.3058,Not employed,False,640.0,659.0,4.0,NaN,0.0,NaN,59914,4000,171.08
113682,60,Chargedoff,0.32680,0.2997,Not employed,True,760.0,779.0,14.0,NaN,0.0,NaN,58938,10000,323.35
113686,36,Completed,0.21588,0.2085,Full-time,False,740.0,759.0,1.0,NaN,0.0,NaN,23589,14900,560.21
113761,60,Current,0.16151,0.1385,Not employed,False,720.0,739.0,8.0,NaN,0.0,0.0,67301,7000,162.33
113766,36,Current,0.12427,0.0964,Not employed,False,720.0,739.0,3.0,NaN,0.0,0.0,64132,4500,144.44
113767,36,Chargedoff,0.36945,0.3450,Self-employed,False,520.0,539.0,0.0,NaN,0.0,NaN,27091,5000,224.77
113803,36,Defaulted,0.11293,0.0990,Self-employed,True,680.0,699.0,10.0,NaN,0.0,0.0,35292,5000,161.10

In [14]:
# If 'StatedMonthlyIncome' = 0, then we can drop these incomplete data since it does not make sense to predict loan repayment based on 0 income
index_names = loandf[loandf.StatedMonthlyIncome == 0 ].index
loandf.drop(index_names, inplace = True)

In [15]:
# Ensure that 'StatedMonthlyIncome' = 0 rows has been removed
loandf[loandf.StatedMonthlyIncome == 0]

Empty DataFrame
Columns: [Term, LoanStatus, BorrowerAPR, BorrowerRate, EmploymentStatus, IsBorrowerHomeowner, CreditScoreRangeLower, CreditScoreRangeUpper, OpenCreditLines, DebtToIncomeRatio, StatedMonthlyIncome, ProsperPaymentsOneMonthPlusLate, LoanNumber, LoanOriginalAmount, MonthlyLoanPayment]
Index: []

In [16]:
# Check for incomplete data in 'DebtToIncomeRatio'
loandf[loandf.DebtToIncomeRatio.isnull()]

,Term,LoanStatus,BorrowerAPR,BorrowerRate,EmploymentStatus,IsBorrowerHomeowner,CreditScoreRangeLower,CreditScoreRangeUpper,OpenCreditLines,DebtToIncomeRatio,StatedMonthlyIncome,ProsperPaymentsOneMonthPlusLate,LoanNumber,LoanOriginalAmount,MonthlyLoanPayment
40,60,Current,0.19630,0.1725,Self-employed,False,680.0,699.0,9.0,NaN,12750.000000,NaN,129161,15000,374.81
69,60,Current,0.13636,0.1139,Self-employed,True,700.0,719.0,5.0,NaN,2700.000000,0.0,128889,9000,197.44
103,36,Chargedoff,0.26681,0.2287,Self-employed,True,680.0,699.0,7.0,NaN,5000.000000,0.0,63925,15000,579.63
105,36,Chargedoff,0.30532,0.2699,Employed,False,640.0,659.0,4.0,NaN,2666.666667,NaN,52871,2000,81.64
131,36,Completed,0.20623,0.1915,Part-time,False,740.0,759.0,7.0,NaN,833.333333,NaN,36914,12500,459.15
174,36,Current,0.09988,0.0864,Employed,False,720.0,739.0,14.0,NaN,7083.333333,0.0,82799,3600,113.88
183,36,Current,0.13697,0.1089,Employed,True,680.0,699.0,15.0,NaN,6000.000000,0.0,77823,2000,65.37
185,36,Defaulted,0.27119,0.2365,Self-employed,True,860.0,879.0,5.0,NaN,3333.333333,NaN,43843,6000,234.30
204,60,Current,0.27246,0.2468,Employed,True,780.0,799.0,8.0,NaN,5000.000000,NaN,60321,10000,291.64
209,36,Current,0.31790,0.2786,Employed,True,700.0,719.0,15.0,NaN,7916.666667,NaN,94377,4000,165.15
216,36,Current,0.31790,0.2786,Self-employed,True,700.0,719.0,7.0,NaN,4500.000000,NaN,89829,4000,165.15
218,36,Chargedoff,0.19236,0.1559,Self-employed,True,720.0,739.0,5.0,NaN,4416.666667,0.0,86316,10000,349.55
255,36,Completed,0.26079,0.2379,Full-time,False,660.0,679.0,4.0,NaN,2083.333333,NaN,40435,3000,117.37
291,60,Current,0.15868,0.1355,Self-employed,True,720.0,739.0,20.0,NaN,25000.000000,NaN,131922,15000,345.53
301,36,Current,0.32538,0.2859,Self-employed,False,660.0,679.0,8.0,NaN,6666.666667,NaN,91733,4000,166.73
303,36,Chargedoff,0.30532,0.2699,Self-employed,False,660.0,679.0,3.0,NaN,2500.000000,NaN,47167,4000,163.28
307,36,Current,0.15223,0.1239,Self-employed,True,740.0,759.0,19.0,NaN,40000.000000,NaN,121157,15000,501.01
313,36,Current,0.19144,0.1550,Self-employed,True,700.0,719.0,8.0,NaN,13333.333333,NaN,110583,15000,523.66
315,36,Current,0.12081,0.0930,Self-employed,False,700.0,719.0,16.0,NaN,3333.333333,NaN,128649,3000,95.82
330,36,Chargedoff,0.15377,0.1395,Self-employed,True,680.0,699.0,4.0,NaN,3333.333333,NaN,33989,4000,136.61
331,36,Current,0.33973,0.2999,Self-employed,False,620.0,639.0,1.0,NaN,1500.000000,0.0,63809,2500,106.12
337,36,Current,0.21025,0.1734,Self-employed,True,700.0,719.0,6.0,NaN,2916.666667,1.0,75976,2000,71.64
351,36,Current,0.16678,0.1305,Self-employed,True,700.0,719.0,11.0,NaN,8500.000000,NaN,135587,15000,505.77
354,36,Completed,0.37699,0.3400,Self-employed,False,640.0,659.0,6.0,NaN,4166.666667,0.0,45603,2500,111.68
372,36,Chargedoff,0.37453,0.3500,Full-time,True,600.0,619.0,14.0,NaN,3333.333333,NaN,34899,3800,171.90
390,36,Completed,0.30532,0.2699,Self-employed,True,740.0,759.0,8.0,NaN,12500.000000,NaN,51302,7000,285.74
395,36,Completed,0.15512,0.1480,Self-employed,True,760.0,779.0,12.0,NaN,5000.000000,NaN,36559,5000,172.84
429,36,Completed,0.23748,0.2300,Self-employed,True,840.0,859.0,8.0,NaN,9166.666667,NaN,37518,18000,696.77
432,36,Completed,0.08001,0.0629,Self-employed,False,760.0,779.0,1.0,NaN,4166.666667,NaN,36453,1000,30.55
473,36,Current,0.32446,0.2850,Self-employed,True,660.0,679.0,6.0,NaN,1666.666667,NaN,128630,4000,166.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113530,36,Current,0.35797,0.3177,Self-employed,False,680.0,699.0,2.0,NaN,1666.666667,NaN,72675,4000,173.71
113541,36,Completed,0.37453,0.3500,Full-time,False,600.0,619.0,7.0,NaN,1833.333333,NaN,33973,2000,90.47
113545,36,Current,0.25013,0.2124,Employed,False,660.0,679.0,5.0,NaN,4250.000000,0.0,85152,3500,132.29
113550,36,Completed,0.23682,0.1990,Part-time,False,640.0,659.0,15.0,NaN,800.000000,0.0,43761,1000,0.00
113552,36,Completed,0.23631,0.1985,Full-time,True,640.0,659.0,9.0,NaN,2833.333333,NaN,42408,1000,37.09
113555,36,Current,0.30532,0.2699,Self-employed,True,780.0,799.0,13.0,NaN,2500.000000,NaN,51879,6000,244.92
113559,36,Current,0.35132,0.3149,Employed,True,680.0,699.0,10.0,NaN,18.333333,NaN,54792,3000,129.82
113600,36,Completed,0.28370,0.2452,Other,False,720.0,739.0,12.0,NaN,3366.666667,NaN,62207,3000,118.52
113617,36,Completed,0.37453,0.3500,Self-employed,True,640.0,659.0,2.0,NaN,4333.333333,NaN,38943,6000,271.42
113628,60,Completed,0.24589,0.2209,Self-employed,True,740.0,759.0,8.0,NaN,12500.000000,0.0,97843,10000,276.70
113652,60,Current,0.16686,0.1435,Self-employed,False,720.0,739.0,12.0,NaN,10833.333333,NaN,132992,15000,351.75
113654,36,Current,0.13799,0.1099,Self-employed,True,720.0,739.0,13.0,NaN,16666.666667,NaN,105569,15000,491.01
113670,60,Current,0.24856,0.2235,Self-employed,False,640.0,659.0,8.0,NaN,2916.666667,0.0,124505,10000,278.18
113672,36,Completed,0.35797,0.3177,Self-employed,True,760.0,779.0,6.0,NaN,12500.000000,NaN,65368,4000,173.71
113684,60,Current,0.26877,0.2432,Self-employed,False,680.0,699.0,7.0,NaN,3333.333333,NaN,99172,4000,115.82
113689,12,Completed,0.29901,0.2199,Self-employed,True,680.0,699.0,14.0,NaN,10000.000000,0.0,72578,4000,374.36
113704,36,Completed,0.05104,0.0500,Full-time,False,620.0,639.0,4.0,NaN,1000.000000,NaN,35510,16000,479.53
113711,36,Completed,0.25278,0.2300,Self-employed,True,660.0,679.0,7.0,NaN,3500.000000,NaN,36392,1500,58.06
113725,36,Completed,0.11323,0.0840,Part-time,False,700.0,719.0,7.0,NaN,933.333333,NaN,40233,1200,37.83
113744,36,Current,0.12691,0.0990,Self-employed,False,740.0,759.0,16.0,NaN,5000.000000,NaN,120192,15000,483.30
113792,36,Completed,0.26681,0.2287,Self-employed,True,680.0,699.0,20.0,NaN,20000.000000,0.0,66785,8000,309.14
113836,36,Completed,0.23794,0.2001,Self-employed,True,640.0,659.0,11.0,NaN,10333.333333,NaN,43784,1000,37.17
113848,36,Completed,0.30709,0.2875,Not available,False,0.0,19.0,NaN,NaN,833.333333,NaN,7406,1000,0.00
113857,36,Current,0.28974,0.2511,Self-employed,False,720.0,739.0,9.0,NaN,8333.333333,NaN,57414,10000,398.18
113866,36,Completed,0.20504,0.1829,Self-employed,False,640.0,659.0,6.0,NaN,14833.333333,NaN,39598,3500,127.04
113893,36,Current,0.12081,0.0930,Self-employed,True,740.0,759.0,17.0,NaN,5000.000000,0.0,129468,12000,383.27
113894,36,Completed,0.07339,0.0700,Full-time,True,800.0,819.0,8.0,NaN,7500.000000,0.0,40108,1000,30.88
113899,36,Completed,0.11296,0.0920,Full-time,False,760.0,779.0,8.0,NaN,4166.666667,NaN,41246,4900,154.27
113903,60,Current,0.18426,0.1605,Self-employed,True,700.0,719.0,14.0,NaN,3833.333333,NaN,134488,15000,365.17
113908,36,Completed,0.35858,0.3220,Employed,False,700.0,719.0,15.0,NaN,2833.333333,NaN,45837,7500,327.49

In [17]:
# Predicting the loan outcome status and interest values with missing DebtToIncomeRatio value is not practical/hard.
# Remove rows with no/missing (NaN) DebtToIncomeRatio value
index_names = loandf[loandf.DebtToIncomeRatio.isnull()].index
loandf.drop(index_names, inplace = True)

In [18]:
# Ensure that 'DebtToIncomeRatio' = NaN rows has been removed
loandf[loandf.DebtToIncomeRatio.isnull()]

Empty DataFrame
Columns: [Term, LoanStatus, BorrowerAPR, BorrowerRate, EmploymentStatus, IsBorrowerHomeowner, CreditScoreRangeLower, CreditScoreRangeUpper, OpenCreditLines, DebtToIncomeRatio, StatedMonthlyIncome, ProsperPaymentsOneMonthPlusLate, LoanNumber, LoanOriginalAmount, MonthlyLoanPayment]
Index: []

In [19]:
# Check if OpenCreditLines column has NaN value
loandf[loandf.OpenCreditLines.isnull()]

,Term,LoanStatus,BorrowerAPR,BorrowerRate,EmploymentStatus,IsBorrowerHomeowner,CreditScoreRangeLower,CreditScoreRangeUpper,OpenCreditLines,DebtToIncomeRatio,StatedMonthlyIncome,ProsperPaymentsOneMonthPlusLate,LoanNumber,LoanOriginalAmount,MonthlyLoanPayment
2,36,Completed,0.28269,0.2750,Not available,False,480.0,499.0,NaN,0.06000,2083.333333,NaN,6466,3001,123.32
17,36,Chargedoff,0.13202,0.1250,Not available,True,760.0,779.0,NaN,0.12000,5833.333333,NaN,2711,10000,334.54
39,36,Completed,0.15211,0.1450,NaN,False,680.0,699.0,NaN,0.06000,9583.333333,NaN,1901,10000,57.64
42,36,Chargedoff,0.30300,0.2900,Not available,False,520.0,539.0,NaN,0.27000,416.666667,NaN,7286,1500,62.86
63,36,Completed,0.29776,0.2900,Not available,True,620.0,639.0,NaN,0.25000,7500.000000,NaN,3919,6000,251.43
76,36,Completed,0.25861,0.2500,Not available,True,540.0,559.0,NaN,0.13000,8583.333333,NaN,2028,2200,87.47
90,36,Completed,0.19178,0.1845,Not available,True,600.0,619.0,NaN,0.13000,1833.333333,NaN,4647,5000,181.89
92,36,Completed,0.08292,0.0755,NaN,True,820.0,839.0,NaN,0.08000,10833.333333,NaN,1808,2300,71.60
122,36,Completed,0.08718,0.0700,Not available,False,720.0,739.0,NaN,0.13000,1666.666667,NaN,1752,1000,30.88
128,36,Defaulted,0.18824,0.1700,Not available,True,500.0,519.0,NaN,0.03000,2916.666667,NaN,4690,1000,35.65
146,36,Completed,0.09939,0.0925,NaN,False,740.0,759.0,NaN,0.07000,0.083333,NaN,2902,4000,127.66
162,36,Completed,0.08483,0.0780,NaN,False,760.0,779.0,NaN,0.13000,7500.000000,NaN,1286,3000,93.73
172,36,Chargedoff,0.24753,0.2400,Not available,False,580.0,599.0,NaN,0.28000,5833.333333,NaN,2136,10000,392.33
178,36,Completed,0.24856,0.2400,Not available,False,500.0,519.0,NaN,0.08000,3333.333333,NaN,5979,2200,86.31
184,36,Defaulted,0.26590,0.2500,Not available,False,480.0,499.0,NaN,0.49000,200.000000,NaN,4846,1200,47.71
191,36,Defaulted,0.30781,0.3000,Not available,False,600.0,619.0,NaN,0.41000,3750.000000,NaN,4375,10000,424.52
193,36,Defaulted,0.23937,0.2300,NaN,False,540.0,559.0,NaN,0.20000,2500.000000,NaN,1245,2000,77.42
206,36,Defaulted,0.27767,0.2700,NaN,False,NaN,NaN,NaN,0.16573,9166.666667,NaN,323,7500,306.19
215,36,Defaulted,0.18726,0.1800,Not available,True,660.0,679.0,NaN,0.18000,7500.000000,NaN,6192,9999,361.49
217,36,Defaulted,0.29776,0.2900,Not available,False,540.0,559.0,NaN,0.08000,1666.666667,NaN,5275,3001,125.76
247,36,Completed,0.19582,0.1775,NaN,False,540.0,559.0,NaN,0.12000,2666.666667,NaN,2082,1000,27.61
249,36,Chargedoff,0.29776,0.2900,Not available,False,480.0,499.0,NaN,0.22000,2750.000000,NaN,6780,3001,125.76
250,36,Completed,0.08857,0.0800,NaN,False,720.0,739.0,NaN,0.10000,6416.666667,NaN,1456,2000,62.67
251,36,Defaulted,0.16647,0.1593,Not available,True,700.0,719.0,NaN,0.25000,4583.333333,NaN,4590,17500,614.64
252,36,Chargedoff,0.29925,0.2900,Not available,False,520.0,539.0,NaN,0.09000,2116.666667,NaN,5813,2100,88.00
275,36,Completed,0.20896,0.1905,Not available,False,560.0,579.0,NaN,0.10000,2333.333333,NaN,3371,1000,36.68
298,36,Completed,0.19128,0.1840,Not available,False,640.0,659.0,NaN,0.31000,2416.666667,NaN,2656,7500,268.94
310,36,Completed,0.12724,0.1175,NaN,False,600.0,619.0,NaN,0.16000,3750.000000,NaN,1671,1800,0.00
325,36,Completed,0.13453,0.1275,NaN,True,680.0,699.0,NaN,0.10000,5416.666667,NaN,1206,6500,218.23
336,36,Defaulted,0.17904,0.1700,Not available,False,480.0,499.0,NaN,0.31000,3283.333333,NaN,5058,2000,71.31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113452,36,Completed,0.09809,0.0912,Not available,True,780.0,799.0,NaN,0.15000,5166.666667,NaN,3028,5000,153.86
113453,36,Completed,0.08784,0.0810,Not available,False,740.0,759.0,NaN,0.04000,4000.000000,NaN,6237,3000,83.54
113454,36,Defaulted,0.11596,0.1090,Not available,True,740.0,759.0,NaN,0.15000,4000.000000,NaN,2776,3000,98.07
113459,36,Chargedoff,0.25707,0.2495,Not available,False,500.0,519.0,NaN,0.03000,8623.333333,NaN,6063,3500,139.07
113467,36,Completed,0.16215,0.1550,Not available,False,640.0,659.0,NaN,0.27000,2065.083333,NaN,3149,3000,104.73
113494,36,Completed,0.23748,0.2300,NaN,False,560.0,579.0,NaN,0.36000,5500.000000,NaN,5285,10000,387.10
113496,36,Completed,0.17722,0.1700,Not available,True,660.0,679.0,NaN,0.18000,9708.333333,NaN,4251,7500,264.98
113515,36,Chargedoff,0.22931,0.2200,Not available,True,520.0,539.0,NaN,0.15000,2083.333333,NaN,5764,2000,76.38
113531,36,Defaulted,0.21857,0.2000,Not available,False,480.0,499.0,NaN,0.20000,2000.000000,NaN,4931,1000,37.16
113591,36,Completed,0.15462,0.1475,NaN,True,640.0,659.0,NaN,0.12000,5833.333333,NaN,2005,5500,186.26
113626,36,Completed,0.17722,0.1700,NaN,False,720.0,739.0,NaN,10.01000,0.083333,NaN,3019,25000,891.32
113629,36,Chargedoff,0.29776,0.2900,Not available,False,540.0,559.0,NaN,0.15000,6750.000000,NaN,4737,4000,167.62
113630,36,Completed,0.20735,0.2000,Not available,True,640.0,659.0,NaN,0.43000,2666.666667,NaN,2623,3000,111.49
113635,36,Defaulted,0.29776,0.2900,Not available,False,500.0,519.0,NaN,0.43000,1920.000000,NaN,5622,3050,127.81
113663,36,Chargedoff,0.29525,0.2875,NaN,False,520.0,539.0,NaN,0.03000,3500.000000,NaN,1721,2500,104.42
113664,36,Completed,0.21689,0.2095,Not available,True,540.0,559.0,NaN,0.07000,7500.000000,NaN,6950,3001,112.99
113712,36,Defaulted,0.24502,0.2375,NaN,False,500.0,519.0,NaN,0.12000,7500.000000,NaN,1380,6001,234.65
113714,36,Chargedoff,0.28887,0.2695,Not available,True,360.0,379.0,NaN,0.19000,6000.000000,NaN,3051,1000,40.80
113728,36,Completed,0.16014,0.1530,Not available,True,660.0,679.0,NaN,0.36000,3903.166667,NaN,7066,9500,330.72
113732,36,Chargedoff,0.29776,0.2900,Not available,True,540.0,559.0,NaN,0.15000,9833.333333,NaN,4390,20000,838.11
113735,36,Chargedoff,0.22141,0.2140,Not available,True,600.0,619.0,NaN,0.54000,2916.666667,NaN,6286,3500,132.58
113736,36,Completed,0.16185,0.1547,Not available,False,600.0,619.0,NaN,0.11000,8333.333333,NaN,2664,5000,172.56
113768,36,Completed,0.17722,0.1700,Not available,False,580.0,599.0,NaN,0.20000,1709.916667,NaN,7802,4000,142.61
113797,36,Defaulted,0.11696,0.1100,Not available,False,660.0,679.0,NaN,0.04000,4166.666667,NaN,4334,4500,147.32
113819,36,Completed,0.18123,0.1740,Not available,True,660.0,679.0,NaN,0.13000,4583.333333,NaN,3325,3000,107.56
113825,36,Completed,0.29776,0.2900,Not available,False,520.0,539.0,NaN,0.08000,8833.333333,NaN,7412,2550,106.86
113902,36,Completed,0.08805,0.0812,NaN,False,NaN,NaN,NaN,0.07419,20833.333333,NaN,378,7500,235.44
113914,36,Defaulted,0.25757,0.2500,NaN,False,520.0,539.0,NaN,0.05000,2400.000000,NaN,2650,3000,119.28
113921,36,Completed,NaN,0.0400,NaN,False,NaN,NaN,NaN,0.23284,12500.000000,NaN,1,1000,29.52
113926,36,Defaulted,0.29776,0.2900,Not available,False,540.0,559.0,NaN,0.07000,5416.666667,NaN,2408,3000,125.72

In [20]:
# In OpenCreditLines column,replace NaN value with 0
loandf.OpenCreditLines = loandf.OpenCreditLines.fillna(0)

In [21]:
# Ensure OpenCreditLines column has No NaN value
loandf[loandf.OpenCreditLines.isnull()]

Empty DataFrame
Columns: [Term, LoanStatus, BorrowerAPR, BorrowerRate, EmploymentStatus, IsBorrowerHomeowner, CreditScoreRangeLower, CreditScoreRangeUpper, OpenCreditLines, DebtToIncomeRatio, StatedMonthlyIncome, ProsperPaymentsOneMonthPlusLate, LoanNumber, LoanOriginalAmount, MonthlyLoanPayment]
Index: []

In [22]:
# Check if NaN value exists in CreditScoreRangeLower column
loandf[loandf.CreditScoreRangeLower.isnull()]

,Term,LoanStatus,BorrowerAPR,BorrowerRate,EmploymentStatus,IsBorrowerHomeowner,CreditScoreRangeLower,CreditScoreRangeUpper,OpenCreditLines,DebtToIncomeRatio,StatedMonthlyIncome,ProsperPaymentsOneMonthPlusLate,LoanNumber,LoanOriginalAmount,MonthlyLoanPayment
206,36,Defaulted,0.27767,0.2700,NaN,False,NaN,NaN,0.0,0.16573,9166.666667,NaN,323,7500,306.19
387,36,Completed,0.09337,0.0865,NaN,False,NaN,NaN,0.0,0.12624,3000.000000,NaN,174,3500,110.73
698,36,Completed,0.07680,0.0700,NaN,False,NaN,NaN,0.0,0.02727,8333.333333,NaN,36,6001,185.29
1023,36,Completed,0.08684,0.0800,NaN,False,NaN,NaN,0.0,0.02480,8333.333333,NaN,396,5000,156.68
1126,36,Completed,0.20735,0.2000,NaN,False,NaN,NaN,0.0,0.13759,4250.000000,NaN,202,2550,94.77
1148,36,Completed,0.10692,0.1000,NaN,False,NaN,NaN,0.0,0.07305,2666.666667,NaN,109,3000,95.24
1907,36,Completed,0.11094,0.1040,NaN,False,NaN,NaN,0.0,0.19644,4166.666667,NaN,191,5500,128.07
1932,36,Defaulted,0.18658,0.1775,NaN,False,NaN,NaN,0.0,0.01087,6628.583333,NaN,444,2000,72.05
2029,36,Completed,0.13956,0.1325,NaN,False,NaN,NaN,0.0,0.10841,8333.333333,NaN,351,3000,101.44
2040,36,Completed,0.10133,0.0840,NaN,False,NaN,NaN,0.0,0.14752,3399.666667,NaN,510,1000,31.52
2106,36,Completed,0.35604,0.3480,NaN,False,NaN,NaN,0.0,0.21628,5000.000000,NaN,352,3001,129.67
2204,36,Completed,0.24502,0.2375,NaN,False,NaN,NaN,0.0,0.05974,5000.000000,NaN,532,2550,42.57
2347,36,Completed,0.09588,0.0890,NaN,False,NaN,NaN,0.0,0.08513,3333.333333,NaN,183,5000,158.77
2543,36,Completed,NaN,0.1000,NaN,False,NaN,NaN,0.0,0.02685,8333.333333,NaN,19,4200,99.40
2872,36,Completed,0.11696,0.1100,NaN,False,NaN,NaN,0.0,0.08995,10833.333333,NaN,461,6000,194.34
3004,36,Completed,0.09437,0.0875,NaN,False,NaN,NaN,0.0,0.08863,16666.666667,NaN,341,12000,380.20
3008,36,Defaulted,0.15713,0.1500,NaN,False,NaN,NaN,0.0,0.04983,18750.000000,NaN,383,20000,693.31
3191,36,Completed,0.36559,0.3575,NaN,False,NaN,NaN,0.0,0.02402,6083.333333,NaN,354,3200,146.12
3234,36,Completed,0.23748,0.2300,NaN,False,NaN,NaN,0.0,0.26252,5333.333333,NaN,172,3000,116.13
3329,36,Defaulted,0.10090,0.0940,NaN,False,NaN,NaN,0.0,0.16808,10416.666667,NaN,282,14500,463.80
3435,36,Defaulted,0.15713,0.1500,NaN,False,NaN,NaN,0.0,0.12720,2083.333333,NaN,204,3000,104.00
3578,36,Completed,0.12700,0.1200,NaN,False,NaN,NaN,0.0,0.12026,3250.000000,NaN,146,4000,132.86
3695,36,Completed,0.08684,0.0800,NaN,False,NaN,NaN,0.0,0.07442,16666.666667,NaN,54,10000,313.36
3881,36,Completed,0.07830,0.0612,NaN,False,NaN,NaN,0.0,0.05276,900.000000,NaN,308,1000,30.48
4271,36,Defaulted,0.10692,0.1000,NaN,False,NaN,NaN,0.0,0.17074,5000.000000,NaN,246,2780,89.70
4823,36,Completed,0.12700,0.1200,NaN,False,NaN,NaN,0.0,0.05761,23666.666667,NaN,194,7000,232.50
4910,36,Completed,0.18726,0.1800,NaN,False,NaN,NaN,0.0,0.41370,4139.083333,NaN,279,3000,108.46
4994,36,Chargedoff,0.20684,0.1995,NaN,False,NaN,NaN,0.0,0.16164,5333.333333,NaN,485,8000,297.10
5367,36,Completed,0.13705,0.1300,NaN,False,NaN,NaN,0.0,0.07652,4083.333333,NaN,52,5000,131.20
5871,36,Chargedoff,0.14935,0.1400,NaN,False,NaN,NaN,0.0,0.17558,4083.333333,NaN,540,1900,64.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106735,36,Completed,NaN,0.0595,NaN,False,NaN,NaN,0.0,0.01747,14583.333333,NaN,13,1500,45.60
107126,36,Completed,0.08935,0.0825,NaN,False,NaN,NaN,0.0,0.01275,41666.666667,NaN,491,3000,94.36
107726,36,Completed,0.13052,0.1235,NaN,False,NaN,NaN,0.0,0.13463,12500.000000,NaN,521,25000,834.54
108137,36,Chargedoff,0.22744,0.2200,NaN,False,NaN,NaN,0.0,0.29079,6666.666667,NaN,189,3000,114.57
108436,36,Completed,0.25255,0.2450,NaN,False,NaN,NaN,0.0,0.03964,4490.000000,NaN,466,4000,157.98
108643,36,Defaulted,0.20735,0.2000,NaN,False,NaN,NaN,0.0,0.14673,4583.333333,NaN,394,3700,137.51
109027,36,Completed,NaN,0.0600,NaN,False,NaN,NaN,0.0,0.02217,25000.000000,NaN,21,3000,0.00
109622,36,Completed,0.28771,0.2800,NaN,False,NaN,NaN,0.0,0.10128,2916.666667,NaN,235,2500,103.41
109832,36,Completed,0.15713,0.1500,NaN,False,NaN,NaN,0.0,0.06704,8000.000000,NaN,320,11000,381.32
110012,36,Completed,0.10441,0.0975,NaN,False,NaN,NaN,0.0,0.23613,5833.333333,NaN,325,3000,96.45
110108,36,Completed,0.15311,0.1460,NaN,False,NaN,NaN,0.0,0.15773,3500.000000,NaN,106,6500,218.58
110207,36,Defaulted,0.32791,0.3200,NaN,False,NaN,NaN,0.0,0.18310,14750.000000,NaN,273,5000,217.77
110279,36,Completed,0.16466,0.1575,NaN,False,NaN,NaN,0.0,0.09787,3333.333333,NaN,99,7000,245.24
110396,36,Defaulted,0.15713,0.1500,NaN,False,NaN,NaN,0.0,0.19624,5500.000000,NaN,399,8000,277.32
110537,36,Completed,0.08383,0.0770,NaN,False,NaN,NaN,0.0,0.02934,15833.333333,NaN,272,3000,92.33
110964,36,Completed,0.20846,0.1900,NaN,False,NaN,NaN,0.0,0.04594,1625.000000,NaN,114,1000,36.66
110988,36,Completed,0.08182,0.0750,NaN,False,NaN,NaN,0.0,0.12749,8333.333333,NaN,42,8500,264.40
111184,36,Completed,0.24753,0.2400,NaN,False,NaN,NaN,0.0,0.07821,8166.666667,NaN,365,3000,117.70
111267,36,Completed,0.22744,0.2200,NaN,False,NaN,NaN,0.0,0.21018,3416.666667,NaN,498,3800,141.66
111405,36,Chargedoff,0.18964,0.1775,NaN,False,NaN,NaN,0.0,0.06946,7083.333333,NaN,440,1500,54.04
111607,36,Completed,NaN,0.0650,NaN,False,NaN,NaN,0.0,0.01404,16666.666667,NaN,17,3000,91.95
111853,36,Completed,0.09728,0.0800,NaN,False,NaN,NaN,0.0,0.12165,7500.000000,NaN,600,1000,24.97
112198,36,Completed,0.25650,0.2375,NaN,False,NaN,NaN,0.0,0.04746,5416.666667,NaN,541,1000,39.10
112387,36,Completed,0.11144,0.1045,NaN,False,NaN,NaN,0.0,0.08683,4500.000000,NaN,386,3000,97.44
112561,36,Completed,0.24502,0.2375,NaN,False,NaN,NaN,0.0,0.08865,6166.666667,NaN,460,4800,0.00
112680,36,Chargedoff,0.14458,0.1375,NaN,False,NaN,NaN,0.0,0.13213,3000.000000,NaN,63,7000,238.39
113015,36,Completed,0.12700,0.1200,NaN,False,NaN,NaN,0.0,0.08128,3250.000000,NaN,507,5000,166.07
113438,36,Completed,0.08684,0.0800,NaN,False,NaN,NaN,0.0,0.31080,5833.333333,NaN,118,3000,46.80
113902,36,Completed,0.08805,0.0812,NaN,False,NaN,NaN,0.0,0.07419,20833.333333,NaN,378,7500,235.44
113921,36,Completed,NaN,0.0400,NaN,False,NaN,NaN,0.0,0.23284,12500.000000,NaN,1,1000,29.52

In [23]:
# remove rows with CreditScoreRangeLower = NaN, since it does not help in predicting interest rate when credit score is missing.
index_names = loandf[loandf.CreditScoreRangeLower.isnull()].index
loandf.drop(index_names, inplace = True)

In [24]:
# Ensure that all rows with CreditScoreRangeLower = NaN has been removed
loandf[loandf.CreditScoreRangeLower.isnull()]

Empty DataFrame
Columns: [Term, LoanStatus, BorrowerAPR, BorrowerRate, EmploymentStatus, IsBorrowerHomeowner, CreditScoreRangeLower, CreditScoreRangeUpper, OpenCreditLines, DebtToIncomeRatio, StatedMonthlyIncome, ProsperPaymentsOneMonthPlusLate, LoanNumber, LoanOriginalAmount, MonthlyLoanPayment]
Index: []

In [25]:
# Check if rows with CreditScoreRangeUpper = NaN exists
loandf[loandf.CreditScoreRangeUpper.isnull()]

Empty DataFrame
Columns: [Term, LoanStatus, BorrowerAPR, BorrowerRate, EmploymentStatus, IsBorrowerHomeowner, CreditScoreRangeLower, CreditScoreRangeUpper, OpenCreditLines, DebtToIncomeRatio, StatedMonthlyIncome, ProsperPaymentsOneMonthPlusLate, LoanNumber, LoanOriginalAmount, MonthlyLoanPayment]
Index: []

In [26]:
# Check if NaN value exists in ProsperPaymentsOneMonthPlusLate column
loandf[loandf.ProsperPaymentsOneMonthPlusLate.isnull()]

,Term,LoanStatus,BorrowerAPR,BorrowerRate,EmploymentStatus,IsBorrowerHomeowner,CreditScoreRangeLower,CreditScoreRangeUpper,OpenCreditLines,DebtToIncomeRatio,StatedMonthlyIncome,ProsperPaymentsOneMonthPlusLate,LoanNumber,LoanOriginalAmount,MonthlyLoanPayment
0,36,Completed,0.16516,0.1580,Self-employed,True,640.0,659.0,4.0,0.17,3083.333333,NaN,19141,9425,330.43
1,36,Current,0.12016,0.0920,Employed,False,680.0,699.0,14.0,0.18,6125.000000,NaN,134815,10000,318.93
2,36,Completed,0.28269,0.2750,Not available,False,480.0,499.0,0.0,0.06,2083.333333,NaN,6466,3001,123.32
3,36,Current,0.12528,0.0974,Employed,True,800.0,819.0,5.0,0.15,2875.000000,NaN,77296,10000,321.45
5,60,Current,0.15425,0.1314,Employed,True,740.0,759.0,17.0,0.36,8333.333333,NaN,123257,15000,342.37
6,36,Current,0.31032,0.2712,Employed,False,680.0,699.0,7.0,0.27,2083.333333,NaN,88353,3000,122.67
7,36,Current,0.23939,0.2019,Employed,False,700.0,719.0,6.0,0.24,3355.750000,NaN,90051,10000,372.60
8,36,Current,0.07620,0.0629,Employed,True,820.0,839.0,16.0,0.25,3333.333333,NaN,121268,10000,305.54
10,60,Current,0.27462,0.2489,Employed,False,640.0,659.0,2.0,0.12,7500.000000,NaN,65946,13500,395.37
11,36,Completed,0.15033,0.1325,Full-time,False,640.0,659.0,2.0,0.27,1666.666667,NaN,20907,1000,33.81
12,36,Past Due (1-15 days),0.17969,0.1435,Employed,False,680.0,699.0,7.0,0.18,2416.666667,NaN,125045,4000,137.39
13,36,Current,0.13138,0.1034,Employed,True,740.0,759.0,8.0,0.09,5833.333333,NaN,96202,8500,275.63
14,60,Current,0.11695,0.0949,Employed,False,740.0,759.0,22.0,0.20,10833.333333,NaN,90060,19330,415.37
15,36,Defaulted,0.35797,0.3177,Other,True,700.0,719.0,9.0,0.49,5500.000000,NaN,63982,4000,173.71
17,36,Chargedoff,0.13202,0.1250,Not available,True,760.0,779.0,0.0,0.12,5833.333333,NaN,2711,10000,334.54
18,36,Current,0.12528,0.0974,Employed,False,740.0,759.0,9.0,0.24,6250.000000,NaN,85974,15000,482.18
20,36,Current,0.16732,0.1314,Employed,True,660.0,679.0,9.0,0.20,5166.666667,NaN,118374,14000,472.66
21,36,Completed,0.21488,0.2075,Full-time,False,620.0,639.0,4.0,0.09,3750.000000,NaN,23565,3000,112.64
22,36,Current,0.35356,0.3134,Other,False,700.0,719.0,9.0,9.20,118.333333,NaN,84693,4000,172.76
23,36,Defaulted,0.28032,0.2419,Employed,False,680.0,699.0,7.0,0.39,2500.000000,NaN,89204,2000,78.67
24,36,Current,0.19859,0.1620,Employed,True,660.0,679.0,8.0,0.16,2333.333333,NaN,122689,4000,141.02
25,36,Current,0.30182,0.2629,Employed,False,680.0,699.0,2.0,0.12,6974.000000,NaN,105431,4000,161.78
26,60,Completed,0.30748,0.2809,Employed,False,660.0,679.0,6.0,0.11,3885.916667,NaN,85538,4000,124.76
27,36,Completed,0.11296,0.0920,Full-time,True,700.0,719.0,16.0,0.26,6666.666667,NaN,43110,4000,0.00
28,36,Current,0.20268,0.1660,Employed,True,720.0,739.0,5.0,0.12,3600.000000,NaN,110393,10000,354.54
29,36,Current,0.15223,0.1239,Employed,True,740.0,759.0,21.0,0.32,10416.666667,NaN,127405,35000,1169.03
30,36,Completed,0.12782,0.0999,Employed,False,740.0,759.0,4.0,0.11,3750.000000,NaN,60054,10000,322.62
31,36,Current,0.35797,0.3177,Other,False,680.0,699.0,0.0,0.04,2250.000000,NaN,75030,2000,86.85
32,36,Current,0.16324,0.1274,Employed,True,660.0,679.0,8.0,0.22,7000.000000,NaN,127880,25000,839.22
34,36,Current,0.22966,0.1920,Other,True,640.0,659.0,6.0,0.17,4058.333333,NaN,133362,10000,367.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113890,36,Completed,0.15462,0.1475,Full-time,False,660.0,679.0,4.0,0.16,3333.333333,NaN,17984,10000,345.43
113891,36,Completed,0.19543,0.1808,Full-time,False,580.0,599.0,2.0,0.04,3250.000000,NaN,13090,3000,105.90
113892,36,Current,0.15223,0.1239,Employed,False,640.0,659.0,10.0,0.12,10000.000000,NaN,128952,8000,267.21
113896,36,Chargedoff,0.32327,0.2995,Part-time,False,520.0,539.0,2.0,0.26,1166.666667,NaN,27468,2200,93.33
113897,36,Completed,0.12550,0.1185,Full-time,True,780.0,799.0,11.0,0.31,3716.666667,NaN,34496,25000,828.57
113898,36,Completed,0.16005,0.1385,Part-time,False,720.0,739.0,7.0,0.15,1539.166667,NaN,41773,4500,153.47
113900,36,Current,0.16678,0.1305,Employed,False,680.0,699.0,19.0,0.42,3466.666667,NaN,133962,10000,337.18
113901,60,Current,0.15016,0.1274,Employed,True,720.0,739.0,15.0,0.30,6000.000000,NaN,117831,20000,452.40
113904,36,Chargedoff,0.24753,0.2400,Full-time,True,640.0,659.0,14.0,0.55,4166.666667,NaN,21278,10000,392.33
113905,36,Chargedoff,0.35797,0.3177,Employed,True,740.0,759.0,16.0,0.35,3250.000000,NaN,57055,4000,173.71
113906,36,Completed,0.07479,0.0680,Full-time,True,780.0,799.0,10.0,0.12,5916.666667,NaN,29350,3001,92.39
113907,36,Current,0.35356,0.3134,Employed,False,640.0,659.0,15.0,0.40,2166.666667,NaN,110842,4000,172.76
113909,60,Current,0.27554,0.2498,Employed,True,800.0,819.0,6.0,0.24,3333.333333,NaN,74552,6000,176.04
113910,36,Current,0.32446,0.2850,Employed,False,640.0,659.0,9.0,0.18,18756.000000,NaN,129056,4000,166.54
113911,36,Current,0.25330,0.2155,Employed,False,660.0,679.0,7.0,0.29,3333.333333,NaN,118059,10000,379.58
113913,36,Completed,0.12410,0.1030,Full-time,True,780.0,799.0,19.0,0.25,9750.000000,NaN,42342,8000,259.27
113914,36,Defaulted,0.25757,0.2500,NaN,False,520.0,539.0,0.0,0.05,2400.000000,NaN,2650,3000,119.28
113916,36,Current,0.33286,0.2932,Employed,False,660.0,679.0,5.0,0.15,4583.333333,NaN,78237,4000,168.32
113917,36,Current,0.32446,0.2850,Employed,False,660.0,679.0,7.0,0.40,1916.666667,NaN,118539,4000,166.54
113918,36,Defaulted,0.12201,0.1080,Full-time,True,740.0,759.0,18.0,0.39,5583.333333,NaN,33438,7000,228.51
113919,36,Current,0.27285,0.2346,Other,True,680.0,699.0,8.0,0.22,2500.000000,NaN,90395,4000,155.80
113922,36,Completed,0.15094,0.1295,Full-time,True,640.0,659.0,8.0,0.18,5250.000000,NaN,35641,5000,168.35
113923,36,Completed,0.22378,0.2089,Full-time,True,700.0,719.0,12.0,0.57,3966.666667,NaN,36931,8000,300.95
113925,36,Current,0.31032,0.2712,Employed,False,680.0,699.0,5.0,0.28,2333.333333,NaN,89987,4000,163.56
113926,36,Defaulted,0.29776,0.2900,Not available,False,540.0,559.0,0.0,0.07,5416.666667,NaN,2408,3000,125.72
113929,36,Completed,0.30285,0.2639,Employed,False,660.0,679.0,7.0,0.05,4333.333333,NaN,95171,2500,101.25
113931,60,Current,0.15016,0.1274,Employed,False,800.0,819.0,12.0,0.28,8146.666667,NaN,128416,25000,565.50
113932,36,Current,0.22354,0.1864,Employed,True,700.0,719.0,9.0,0.13,4333.333333,NaN,88485,10000,364.74
113934,60,Current,0.23984,0.2150,Employed,True,700.0,719.0,12.0,0.51,2875.000000,NaN,123122,10000,273.35
113936,36,Current,0.13189,0.1039,Employed,False,680.0,699.0,9.0,0.23,4583.333333,NaN,127508,2000,64.90

In [27]:
# In ProsperPaymentsOneMonthPlusLate column,replace NaN value with 0
loandf.ProsperPaymentsOneMonthPlusLate = loandf.ProsperPaymentsOneMonthPlusLate.fillna(0)

In [28]:
# Check if all NaN values are replaced with 0
loandf[loandf.ProsperPaymentsOneMonthPlusLate.isnull()]

Empty DataFrame
Columns: [Term, LoanStatus, BorrowerAPR, BorrowerRate, EmploymentStatus, IsBorrowerHomeowner, CreditScoreRangeLower, CreditScoreRangeUpper, OpenCreditLines, DebtToIncomeRatio, StatedMonthlyIncome, ProsperPaymentsOneMonthPlusLate, LoanNumber, LoanOriginalAmount, MonthlyLoanPayment]
Index: []

In [29]:
# convert ProsperPaymentsOneMonthPlusLate column values to int values
loandf.ProsperPaymentsOneMonthPlusLate = loandf.ProsperPaymentsOneMonthPlusLate.astype(int)

In [30]:
# Rows and columns in the  dataset
loandf.shape

(103998, 15)

In [31]:
loandf.head()

,Term,LoanStatus,BorrowerAPR,BorrowerRate,EmploymentStatus,IsBorrowerHomeowner,CreditScoreRangeLower,CreditScoreRangeUpper,OpenCreditLines,DebtToIncomeRatio,StatedMonthlyIncome,ProsperPaymentsOneMonthPlusLate,LoanNumber,LoanOriginalAmount,MonthlyLoanPayment
0,36,Completed,0.16516,0.1580,Self-employed,True,640.0,659.0,4.0,0.17,3083.333333,0,19141,9425,330.43
1,36,Current,0.12016,0.0920,Employed,False,680.0,699.0,14.0,0.18,6125.000000,0,134815,10000,318.93
2,36,Completed,0.28269,0.2750,Not available,False,480.0,499.0,0.0,0.06,2083.333333,0,6466,3001,123.32
3,36,Current,0.12528,0.0974,Employed,True,800.0,819.0,5.0,0.15,2875.000000,0,77296,10000,321.45
4,36,Current,0.24614,0.2085,Employed,True,680.0,699.0,19.0,0.26,9583.333333,0,102670,15000,563.97

### What is the structure of your dataset?

> There are 113937 loan cases in the original dataset with 81 features (ListingKey, ListingNumber, ListingCreationDate, CreditGrade, Term, LoanStatus, ClosedDate, BorrowerAPR, etc). Most variables are numeric in nature, but the there are some nominal data too.<br>
> After data wrangling, now there are 103998 loan cases with 15 features essential for the analysis.

### What is/are the main feature(s) of interest in your dataset?

> I'm most interested in figuring out:
1. What factors affect a loan's outcome status?
2. What affects the borrower's APR or interest rate?
3. Are there differences between loans depending on how large the original loan amount was?

### What features in the dataset do you think will help support your investigation into your feature(s) of interest?

> I expect that factors such as EmploymentStatus, ProsperPaymentsOneMonthPlusLate, StatedMonthlyIncome, DebtToIncomeRatio and OpenCreditLines will have strongest effect on loan's outcome status.<br>
> Factors like LoanOriginalAmount, Term, CreditScoreRangeLower and CreditScoreRangeUpper will have affect borrower's interest rate. <br>
> Difference between loans based on large original amount can be investigated using factors like StatedMonthlyIncome, CreditScoreRangeLower and DebtToIncomeRatio.